@use "sass:map";
// app global css in SCSS form

/* Headline 1 */
.h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 112px;
  letter-spacing: -1.5px;
}

/* Headline 2 */
.h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.5px;
}

/* Headline 3 */
.h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

/* Headline 4 */
.h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
}


/* Headline 5 */
.h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}


/* Headline 6 */
.h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
}

/* Subtitle 1 */
.sub1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15px;
}

/* Subtitle 2 */
.sub2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

/* Body 1 */
.body1{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

/* Body 2 */
.body2{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.25px;
}

/* BUTTON */
.button{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
}

/* Caption */
.caption{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.4px;
}


$themes: (
  "light": (
    page: #F2F2F2,        // Fundo geral
    primary-1: #333333,   // Cinza escuro para destaque
    primary-2: #555555,   // Cinza médio
    primary-3: #777777,   // Cinza claro
    primary-4: #999999,   // Cinza mais claro
    primary-5: #B9B9B9,   // Cinza suave
    primary-6: #D9D9D9,   // Cinza mais suave
    secondary-1: #7F2238, // Bordô escuro para contraste
    secondary-2: #99304D, // Bordô médio
    secondary-3: #B23E63, // Bordô claro
    secondary-4: #CC4C78, // Bordô mais claro
    secondary-5: #E55A8D, // Bordô suave
    secondary-6: #FF69A3, // Bordô mais suave
    'white': #FFFFFF,     // Branco
    'black-1': #1A1A1A,   // Preto mais escuro
    black-2: #666666,     // Cinza escuro
    black-3: #CCCCCC,     // Cinza claro
    background: #FFFFFF,  // Fundo de conteúdo
    box: #F9F9F9,         // Caixas e contêineres
    table: #F9F9F9,       // Fundo de tabelas
    font: #ffffff,        // Cor do texto principal
  ),
);


@each $theme, $colors in $themes {
  .body--#{$theme} {
    @each $name, $color in $colors {
      .bg-#{$name} {
        background: $color !important;
      }
      .text-#{$name} {
        color: $color !important;
      }
    }

    // quasar component overrides
    .q-field__control,
    .q-item--active,
    .q-toggle__inner--truthy {
      color: map.get($colors, primary) !important;
    }
  }
}
